{% extends 'base.html' %}
{% block content %}
<h2>Appointments List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Reason</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment[0] }}</td>
        <td>{{ appointment[1] }}</td>
        <td>{{ appointment[2] }}</td>
        <td>{{ appointment[3] }}</td>
        <td>{{ appointment[4] }}</td>
        <td>{{ appointment[5] }}</td>
        <td>{{ appointment[6] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
