{% extends 'base.html' %}
{% block content %}
<h2>Doctors List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialty</th>
        <th>Phone</th>
        <th>Email</th>
        <th>License Number</th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor[0] }}</td>
        <td>{{ doctor[1] }}</td>
        <td>{{ doctor[2] }}</td>
        <td>{{ doctor[3] }}</td>
        <td>{{ doctor[4] }}</td>
        <td>{{ doctor[5] }}</td>
        <td>{{ doctor[6] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
